.filter-guidelines {
  display: none;
}

div.description, .form-item .description {
  font-size: 0.75rem;
}

fieldset {
  border: 1px solid #c0c0c0;
}

input.form-autocomplete, input.form-text, input.form-tel, input.form-email, input.form-url, input.form-search, input.form-number, input.form-color, input.form-file, input.form-date, input.form-time, textarea.form-textarea {
  width: auto;
}

select {
  width: auto;
  height: 2rem;
  font-size: .9rem !important;
  margin-bottom: 0;
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
  margin-bottom: 0;
}

[type='file'],
[type='checkbox'],
[type='radio'] {
    margin: 0 0 0rem;
}

.ui-dialog {
  padding: 5px;
}

.ui-corner-all {
  border-radius: 0 !important;
  border: 0 !important;
}

.js-form-type-textarea.form-item {
  margin-bottom: 0;
}

.button.form-submit {
  margin-top: 0.9rem;
}

.ui-dialog-content form details {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid #bfbfbf;
  border-radius: 3px;
  background-color: #fcfcfa;
}

.ui-dialog-content form details.vertical-tabs__pane {
  border: 0;
}

.ui-dialog-content form .label {
  display: block;
  padding: 0;
  font-size: 1rem;
  line-height: 1;
  white-space: nowrap;
  cursor: default;
  background: none;
  color: #464343;
  margin-top: 8px;
  font-weight: bold;
  margin-left: 6px;
  text-transform: uppercase;
}

.image-data__crop-wrapper {
  display: inline-block;
  padding: 0.45rem;
  margin-right: 10px;
}

.image-data__crop-wrapper[open] {
  display: block;
}

.ui-dialog-content form details summary {
    cursor: pointer;
    color: #0074bd;
    text-shadow: 0 1px 0 white;
    padding: 0rem 1.45rem;
}

details {
  line-height: 1.295em;
}
details summary {
  padding: 0.95em 1.45em;
}
details summary:focus {
  text-decoration: underline;
  outline: none;
}


/* default styles */

.layout-builder {
  padding: 0;
  border: 0;
}

.layout-builder--content-preview-disabled.layout-builder {
  padding: 1.5em 1.5em 0 1.5em;
  border: 3px solid #2f91da;
}


.layout-builder__link--configure,
.layout-builder__link--remove,
.layout-builder__add-section,
.layout-builder__add-block {
  display: none;
}

.layout-builder__section {
  margin-bottom: 0;
}

.layout-builder--content-preview-disabled .layout-builder__section {
  margin-bottom: 1.5em;
}

.layout-builder--content-preview-disabled .layout-builder__link--configure,
.layout-builder--content-preview-disabled .layout-builder__link--remove,
.layout-builder--content-preview-disabled .layout-builder__add-section {
  display: inline-block; 
}

.layout-builder--content-preview-disabled .layout-builder__add-block {
  display: block;
}

/* content pane view */

.layout-builder-block {
  padding: 0 !important;
}

.layout-builder-block.hero-image {
  overflow: visible;
}

.layout-builder--content-preview-disabled .layout-builder-block {
  background: #ffffff !important;
}

.layout-builder__add-section {
  width: 10%;
  margin-bottom: 1.5em;
  padding: 5px 0;
  text-align: center;
  outline: 0;
  background: none;
  background-color: #2f91da;
  margin-left: 0;
  font-weight: bold;
  color: #ffffff;
}

.layout-builder-block__content-preview-placeholder-label {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.layout-builder--content-preview-disabled .layout-builder-block {
  margin: 0 0 10px 0;
  height: auto !important;
  min-height: auto !important;
  border: 2px dashed #979797;
  padding: 10px !important;
}

/* restyling for the edit page */

.layout-builder--content-preview-disabled .layout-builder__add-section {
  margin-left: -23px;
}

.layout-builder__link--add {
    padding-left: 0;
    color: #fff;
    border-bottom: none;
    background: none;
}

.layout-builder__link--remove {
    margin-bottom: 10px;
    margin-left: -2px;
  }


.layout-builder__add-block {
    padding: 10px 0;
    text-align: center;
    background-color: #eff6fc;
    clear:both;
}

.layout-builder__add-block a {
    color: #565656;
    font-weight: bold;
  }

.layout-builder--content-preview-disabled .layout-builder-block {
    text-align: center;
  }

.path-node div[role=contentinfo], .path-frontpage div[role=contentinfo] {
  margin-top: 0 !important;
  margin-bottom: 1.5rem !important;
}

[data-drupal-messages] {
  display: none !important;
}

#layout-builder [data-drupal-messages] {
  display: block !important;
}
/* hide revisions */
#node-page-layout-builder-form > .form-item {
  display: none !important;
}

