
{# Create classes array. The 'node' class is required for contextual edit links. #}

{% set classes = [
  node.bundle ~ '-vertical',
  view_mode ? node.bundle|clean_class ~ '--display-' ~ view_mode|clean_class,
  'node',
] %}

{% set title_classes = [
  node.bundle ~ '-vertical'|clean_class ~ '__title'
] %}

{% set include_edit_link = [true] %}

{# Grab the photo URI for the template if it exists #}
{% set employee_photo = content.field_employee_photo['#items'].entity.uri.value ?
  content.field_employee_photo['#items'].entity.uri.value | image_style('image_callout') 
  : false 
%}

{% set f = {
  "title_classes": title_classes,
  "contact_name": label[0]['#context'].value,
  "employee_photo": employee_photo,
  "employee_position": content.field_employee_position[0]['#plain_text'],
  "employee_email": content.field_employee_email[0]['#context'].value,
  "employee_phone": content.field_employee_phone[0]['#context'].value,
  } %}

{% if employee_heading %}
    <h4 class="employee-vertical__heading">{{ employee_heading }}</h4>
{% endif %}


{% if content.field_employee_photo['#items'].entity.uri.value %}
<article {{ attributes.addClass( classes ) }}>
{% else %}
<article {{ attributes.addClass( 'no-image', classes ) }}>
{% endif %}

  <div class="employee-vertical__container">

    {% if content.field_employee_photo['#items'].entity.uri.value %}
      <img class="employee-vertical__image" src="{{ employee_photo }}" />
      <h2{{ title_attributes.addClass( title_classes ) }}>{{ f.contact_name }}</h2>
    {% else %}
      <h2{{ title_attributes.addClass( 'no-image', title_classes ) }}>{{ f.contact_name }}</h3>
    {% endif %}
  </div>
  {% if f.employee_position %}
    <p class="employee-vertical__position">{{ f.employee_position|raw }}</p>
  {% endif %}
  {% if f.employee_email %}
    <p class="employee-vertical__email">{{ f.employee_email|raw }}</p>
  {% endif %}
  {% if f.employee_phone %}
    <p class="employee-vertical__phone">{{ f.employee_phone|raw }}</p>
  {% endif %}
  {% if is_admin and include_edit_link %}
    <a class="employee-vertical__edit-link button secondary small" href="/node/{{ node.id }}/edit?destination=/contact">{{ 'Edit Employee'|t }}</a>
  {% endif %}
</article>
