

/********************************************
 employee (node)
 ********************************************
 */


.single-contact__individual-contact-contact {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  max-width: 100% !important;
  .employee__employee-photo img {
    border: 0 !important;
  }
}

.employee,
.single-contact__individual-contact-contact {
  font-size: rem-calc(14px);
  line-height: rem-calc(17px);
  max-width: 50%;
  &__title,
  &__employee-phone,
  &__employee-name,
  &__employee-title,
  &__employee-email,
  &__employee-bio,
  &__edit-link {
    margin-bottom: 0px;
    margin-left: 10px;
  }
  &__employee-bio {
    margin-left: 10px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  &__edit-link {
    font-weight: bold;
    margin-top: 10px;
  }
  &__employee-photo {
    margin-right: 20px;
    img {
      display: block;
      border: 1px solid $gray;
      padding: 4px;
    }
  }
  &__employee-name {
    font-weight: bold;
    font-size: rem-calc(15px);
  }
  &__heading {
    background: #eee;
    padding: 8px 19px;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  &__position {
    margin: 0 0 7px 10px;
    text-transform: uppercase;
    font-size: 13px;
    padding: 0;
  }
  &--display-vertical {
    max-width: 100%;
  }
  &--display-contact-details {
    margin-bottom: 22px;
    margin-top: 8px;
  }
  &__edit-link {
    background-color: $blue-primary !important;
    margin: 12px 10px !important;
    color: #ffffff !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
  }
}


/********************************************
 paragraphs
 ********************************************
 */

.paragraph--type--contact-information {
  max-width: 500px;
  margin-bottom: 10px;
  &-custom {
    max-width: 500px;
  }
}

.paragraph--department-contact-list {
  border-bottom: 1px solid $gray;
  padding-bottom: 12px;
  margin-bottom: 15px;
  .department_contact_list__department-w {
    font-weight: 600;
  }
  .department_contact_list__department-phone {
    font-weight: 600;
  }
  .department_contact_list__department-id {
    margin-top: 15px;
  }
}


/********************************************
 employee (node)
 ********************************************
 */

.employee--display-contact-details-compact {
  margin-top: 8px;
  margin-bottom: 22px;
  padding-bottom: 10px;
  .employee__position {
    margin-bottom: 0;
  }
}

.column:last-child:not(:first-child) {
  float: left;
}


/********************************************
 Individual contact (custom block type)
 ********************************************
 */

.individual-contact {
  &__block {
    padding-bottom: 20px;
  }
  &__title {
    background: #eee;
    margin-bottom: 20px;
    color: $gray-dark;
    &--vertical {
      margin-bottom: 0;
    }
  }
  article {
    float: none !important;
    img {
      border: 0;
      padding: 0;
      padding-top: 7px;
    }
  }
}


/********************************************
 Individual Contact - vertical (custom block type)
 * see link list for similar styles 
 ********************************************
 */

.employee-vertical {
  padding-top: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 41px;
  background-color: $gray-light;
  padding-bottom: 15px;
  &.no-image {
    background: none;
    border: 2px solid $gray-light;
  }
  &__container {
    position: relative;
  }
  &__image {
    padding-top: 0 !important;
  }
  &__title {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    z-index: 30;
    padding: 14px 22px;
    color: #fff;
    background-color: rgba(15,31,62,.8);
    &.no-image {
      background: none;
      color: $blue-dark;
      font-weight: 500;
      padding-top: 20px;
      padding-bottom: 0;
      margin-bottom: -8px;
    }
  }
  &__position {
    padding: 18px 20px 10px;
    margin-bottom: 0;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 0;
    padding-left: 20px;
    color: $blue-dark;
  }
  &__email,
  &__phone {
    color: $blue-dark; 
    padding: 0 20px 0 22px;
    margin-bottom: 4px;
  }
  &__edit-link {
    background-color: $blue-primary !important;
    margin: 12px 22px !important;
    color: #ffffff !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
  }
}



