
.layout-container--fcoe-footer--featured {
  margin-top: 50px;
  background: #ebf3ff;
}

.layout-container--fcoe-footer {
  background: $blue-dark;
  margin-top: 100px;
}

.fcoe-footer {
  padding-top: 30px;
  padding-bottom: 50px;
  &--featured {
    background: #ebf3ff;
    padding-bottom: 20px;
  }
}

.footer-links {
  padding-right: 20px;
  @media #{$large-up} {
    padding-right: 40px;
  }
  &__title {
    font-size: rem-calc(16);
    color: #fff;
    font-weight: $bold;
    text-transform: uppercase;
    color: $blue-light;
    border-bottom: 1px solid $blue-primary;
    padding-bottom: 8px;
    &--secondary {
      padding-top: 15px;
    }
  }
  &__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: rem-calc(15);
  }
  &__menu-link {
    color: #fff;
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.icon-links {
  a {
    color: #ffffff;
  }
  list-style-type: none;
  margin: 30px 0 0 0;
  border-top: 1px solid #fff;
  padding-top: 30px;
  @media #{$large-up} {
    margin: 0;
    border: 0;
    padding: 3px 0 0 0;
  }
  &__list-item {
    margin-bottom: 10px;
  }
  &__icon {
    float: left;
    margin-right: 16px;
    margin-left: 15px;
    width: 38px;
    margin-top: 5px;
  }
  &__title {
    color: white;
    font-weight: 700;
    margin: 0;
    padding: 0;
    font-size: rem-calc(18px);
    line-height: rem-calc(22px);
    @media #{$large-up} {
      font-size: rem-calc(16px);
      line-height: rem-calc(20px);
    }
  }
  &__description {
    margin-bottom: 5px;
    @include show-for('large');
    color: white;
    font-size: rem-calc(13px);
  }
}


.lcap-view {
  border: 0px solid white;
  margin-top: 0px;
}

.lcap-view h4 {
  display: inline-block;
  padding: 0px 8px 0px 8px;
  color: #ebf3ff;
  background: #193365;
  border-radius: 5px;
  font-size: rem-calc(32px);
  &.icon {
    font-size: rem-calc(31);
    font-weight: normal;
    padding: 2px 5px 2px 9px;
    margin-left: 12px;
    text-align: center;
    margin-right: 5px;
  }
}


.lcap-view p {
  display: inline-block;
  color: #fff;
  padding: 0px 8px 0px 8px;
  font-size: rem-calc(14px);
  margin: 0;
  line-height: 21px;
  color: #193365;
  strong {
    display: inline-block;
    font-size: 18px;
  }
  a  {
    text-decoration: underline;
    color: $blue-dark;
    font-weight: bold;
  }
}


.social-view {
  margin-top: 20px;
}

.social-view .logo {
  display: inline-block;
  border: 0px solid #ffffff;
  margin-right: 14px;
}

.social-view p {
  display: inline-block;
}

.icon-indent {
  margin-left: 100px;
}

.icon-links__title--no-subhead {
  margin-top: 8px !important;
  margin-bottom: 5px;
}
