<div class="layout-container layout-container--fcoe-header">
  <div class="title-bar title-bar--fcoe-nav" data-responsive-toggle="globalNav" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">FCOE Menu</div>
  </div>
  <div class="fcoe-header row">
    <nav role="navigation" id="globalNav" class="fcoe-nav columns medium-5 medium-push-7">
      <ul class="fcoe-nav__menu vertical menu medium-horizontal">
        <li class="fcoe-nav__menu-item"><a class="fcoe-nav__menu-link fcoe-nav__menu-link--first" href="https://fcoe.org/office-education">Home</a></li>
        <li class="fcoe-nav__menu-item"><a class="fcoe-nav__menu-link" href="https://fcoe.org/departments">Departments</a></li>
        <li class="fcoe-nav__menu-item"><a class="fcoe-nav__menu-link" href="https://fcoe.org/districts">Districts</a></li>
        <li class="fcoe-nav__menu-item"><a class="fcoe-nav__menu-link fcoe-nav__menu-link--last" href="https://fcoe.org/news">News</a></li>
      </ul>
    </nav>
    <div class="fcoe-nameplate columns medium-7 medium-pull-5">
      <h3 class="fcoe-nameplate__title hide-for-large"><a href="https: //fcoe.org/">Fresno County Office of Education</a></h3>
      <h4 class="fcoe-nameplate__president hide-for-large"><a href="https: //fcoe.org/superintendent">Jim A. Yovino, Superintendent of Schools</a></h4>
    </div>
    <div class="hide-for-small-only search-box"><form><input type="text" placeholder="Search FCOE" /></form></div>
  </div>
</div>
