/**
 * @file
 * Global styles for generic elements
 *
 */

html, body {
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

::selection {

}

h1 {
  padding-top: 20px;
  padding-bottom: 10px;
}

h2 {
  color: $blue-bright;
}

h3 {
  color: $blue-bright;

}

h4 {
  font-weight: $semi-bold;
}

h5 {
  color: $blue-bright;
  font-weight: $semi-bold;
}

h6 {
  font-weight: $semi-bold;
  text-transform: uppercase;
}

figure {
  margin: 0 !important;
  padding: 0 !important;
}

div[role=contentinfo] {
  margin-top: 30px !important ;
  @include callout($success-color);
  border: 0;
}

ul {
  margin-left: 2.25rem;
}
