{%
  extends "@stable/block/block.html.twig"
%}

{%
set block_base = block_type|clean_class
%}

{% set title_classes = [
    block_base ~ '__title',
    'block__title',
    block_base ~ '__title--' ~ content.field_individual_contact_layout.0['#markup'],
    ]
%}

{% set attributes = attributes.addClass( block_base, block_base ~ '__block' ) %}
{% set title_attributes = title_attributes.addClass( title_classes ) %}

