@media print {
  body {
    margin: 1em;
    background-color: #fff;
  }
  [dir="rtl"] body {
    direction: rtl;
  }
  th {
    text-align: left; /* LTR */
    color: #006;
    border-bottom: 1px solid #ccc;
  }
  [dir="rtl"] th {
    text-align: right;
  }
  tr:nth-child(odd) {
    background-color: #ddd;
  }
  tr:nth-child(even){
    background-color: #fff;
  }
  td {
    padding: 5px;
  }
}
