{%
set block_base = block_type|clean_class
%}

{% set title_classes = [
    block_base ~ '__title',
    'block__title',
    ]
%}

{# set ImageURI = content.field_image_list_item_image.0['#item'].entity.uri.value %}
{% set imageURL = ImageURI|image_style('medium_grid') #}

{% set attributes = attributes.addClass( block_base ) %}
{% set title_attributes = title_attributes.addClass( title_classes ) %}
<div{{ attributes.addClass( 'row', 'collapse' ) }}>
  {{ title_prefix }}
  {{ title_suffix }}
  <div class="{{ block_base ~ '__image-container'}} column large-3">
    {{ content.field_image_list_item_image }}
  </div>
  <div class="{{ block_base ~ '__content-container'}} column large-9">
      <h2{{ title_attributes.addClass( title_classes ) }}>{{ label }}</h2>
    {{ content.body }}
    {{ content.field_image_list_item_link }}
  </div>
</div>
