.page-content {
    font-size: rem-calc(15);
}

.section-nav {
    margin-top: 0px;
    margin-bottom: 41px;
    border-bottom: 3px solid $blue-light;
    &__title {
        position: relative;
        font-size: rem-calc(16px);
        color: #ffffff;
        border-bottom: 0px solid $blue-light;
        padding: 12px 23px;
        font-weight: bold;
        margin-bottom: 0;
        background: $blue-bright;
        &:before {
            display: none;
            background: $blue-bright;
            bottom: 0;
            left: 0;
            content: "";
            display: block;
            height: 0px;
            margin: 0 0 -2px;
            position: absolute;
            width: 40px;
        }
    }
    &__menu {
        background: #ebf3ff;
        @media #{$large-up} {
            font-size: rem-calc(14px);

            &--second-level {

            }
        }
    }
    li > a {
      line-height: 1.5;
    }
    &__menu-item {
      position: relative;
        &:before {
            background: #ffffff;
            bottom: 0;
            left: 0;
            content: "";
            display: block;
            height: 3px;
            margin: 0 0 -3px;
            position: absolute;
            min-width: 280px;
        }
        &:last-child:before {
          display: none;
        }
    }
    &__menu-link {
	    border-bottom: 0px solid #fff;
      padding: 15px 23px !important;
      font-weight: 600;
      line-height: 1.4;
        @media #{$large-up} {
            &--first {

            }
            &--secondary--first {

            }
        }
    }
}

.section-nav__menu-item .section-nav__menu {
    list-style-type: disc;
    color: #000;
}

.section-nav__menu-item .section-nav__menu-item {
	padding-left: 10px;
    background: #f6f6f6;
    :before {
    content: "\2013 \00a0 \00a0 ";
    }
    .section-nav__menu-link {
        border-bottom: 0;
    }
}
