
      <div class="layout-container layout-container--fcoe-header">
        <div class="title-bar title-bar--fcoe-nav" data-responsive-toggle="globalNav" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle></button>
          <div class="title-bar-title">FCOE Menu</div>
        </div>
        <div class="fcoe-header row">
          <nav role="navigation" id="globalNav" class="fcoe-nav columns medium-5 medium-push-7">
            <ul class="fcoe-nav__menu vertical menu medium-horizontal">
              <li class="fcoe-nav__menu-item"><a class="fcoe-nav__menu-link fcoe-nav__menu-link--first" href="https://fcoe.org">Home</a></li>
              <li class="fcoe-nav__menu-item"><a class="fcoe-nav__menu-link" href="https://fcoe.org/departments">Departments</a></li>
              <li class="fcoe-nav__menu-item"><a class="fcoe-nav__menu-link" href="https://fcoe.org/districts">Districts</a></li>
              <li class="fcoe-nav__menu-item"><a class="fcoe-nav__menu-link fcoe-nav__menu-link--last" href="https://fcoe.org/news">News</a></li>
            </ul>
          </nav>
          <div class="fcoe-nameplate columns medium-7 medium-pull-5">
            <h3 class="fcoe-nameplate__title"><a href="https://fcoe.org/">Fresno County Superintendent of Schools</a></h3>
            <h4 class="fcoe-nameplate__president"><a href="https://fcoe.org/superintendent">Jim Yovino, Superintendent of Schools</a></h4>
          </div>
          <!-- <div class="hide-for-small-only search-box">
            <form action="http://fcoe.org/search/google"  accept-charset="UTF-8" method="get" id="google-cse-searchbox-form">
            <input type="text" placeholder="Search FCOE" />
            <input type="hidden" name="cx" id="edit-cx" value="003086971286017938951:fekzhixg3yy"  />
            <input type="hidden" name="cof" id="edit-cof" value="FORID:11"  />
            <input type="hidden" name="form_build_id" id="form-2qshdBzllvlWuvEpAMF6vjuf3kXiYxwgZB1RMWuNzJc" value="form-2qshdBzllvlWuvEpAMF6vjuf3kXiYxwgZB1RMWuNzJc"  />
            <input type="hidden" name="form_id" id="edit-google-cse-searchbox-form" value="google_cse_searchbox_form"  />
            </form>
            </div> -->
        </div>
      </div>
